@joe-coffee:registry=https://pkgs.dev.azure.com/joe-coffee/_packaging/joe-coffee/npm/registry/
@joe-coffee:always-auth=true

; DO NOT PUT YOUR TOKEN IN THIS FILE!!!!!!!!!!!!
; Your authentication token goes in ~/.npmrc
